{% extends 'base.html' %}

{% block body %}

	<h1>About Us</h1>
	<p>The Flask Role-Based Access Control (RBAC) project is a web application built with the Flask framework, incorporating robust security measures through role-based access control. The application allows users to register, log in, and access resources based on their assigned roles, ensuring that only authorized users can interact with specific functionalities. The users have access levels of ‘guest’, ‘user’, ‘admin’.</p>
{% endblock %}
